@model UserTask

@{
    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "UserTask";
}

@section VendorStyles {
    <link href="~/assets/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}

@section VendorScripts {
    <script src="~/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/libs/cleave.js/cleave.min.js"></script>
}

@section PageScripts {
    <script src="~/assets/js/timeline.js"></script>
}

<style>
    .btn-plus-small {
        width: 24px;
        height: 24px;
        font-size: 1.2em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px; /* Adjust margin-left to move the plus button to the right */
    }

    .btn-delete {
        border: none;
        background-color: red;
        width: 30px;
        height: 30px;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px; /* Adjust margin-left to move the trash button to the right */
        margin-top: -10px; /* Move the trash button a bit higher */
    }

    .form-control.hours-input {
        height: 24px; /* Reduce height of the Hours input */
        font-size: 1em; /* Reduce font size of the Hours input */
    }

    .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        font-size: 2.5em;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-container">
                <div class="form-title">SAISIE TEMPS</div>
                <form id="formUserTaskHome" method="post">
                    <!-- Date input -->
                    <div class="form-group row justify-content-center align-items-center mb-3">
                        <div class="col-12 col-md-3 d-flex flex-column align-items-center">
                            <label class="form-label">Date : </label>
                            <input type="datetime-local" required class="form-control" id="date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                        </div>
                    </div>

                    <!-- Labels and "Add" button row -->
                    <div class="row align-items-end mb-1">
                        <div class="col-12 col-md-1">
                            <label class="form-label">Leave</label>
                        </div>
                        <div class="col-12 col-md-3">
                            <label id="labelleaveproject">Project</label>
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Tasks</label>
                        </div>
                        <div class="col-12 col-md-1">
                            <label class="form-label">Hours</label>
                        </div>
                        <div class="col-12 col-md-1 btn-container">
                            <button type="button" class="btn btn-success btn-sm rounded-circle btn-plus-small mb-2">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Container for dynamically added task rows -->
                    <div class="task-container">
                        <!-- Initial row -->
                        <div class="task-row1 row align-items-end mb-3" data-row-id="1">
                            <div class="col-12 col-md-1 mt-4">
                                <input type="checkbox" class="checkleave1" />
                            </div>
                            <div class="col-12 col-md-3 mt-4">
                                <select placeholder="Select project" name="projectId" data-search="true" data-silent-initial-value-set="true" id="selectProjectIdCreate1" class="form-control w-100"></select>
                            </div>
                            <div class="col-12 col-md-4 mt-4">
                                <select placeholder="Select task" name="taskId" data-search="true" data-silent-initial-value-set="true" id="selectTaskId1" class="form-control w-100"></select>
                            </div>
                            <div class="col-12 col-md-1 mt-4">
                                <input asp-for="hours" type="text" required class="form-control hoursEditUsrTask1" />
                            </div>
                            <div class="col-12 col-md-1 mt-4 btn-container">
                            </div>
                        </div>
                    </div>

                    <!-- Save button -->
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
