
@{

    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "Task of user";
}

@section VendorStyles {
    <link href="~/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/daterangepicker/daterangepicker.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap-multiselect/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link href="~/assets/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}



@section VendorScripts {
    <script src="~/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="~/assets/libs/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/assets/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script src="~/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
}

@section PageScripts {
    @* <script src="~/assets/js/pages/datatables.init.js"></script> *@
    <script src="~/assets/js/usertask.js"></script>
}


<div class="row">
    <div class="col-12">
        <div class="card-box">


            <div class="responsive-table-plugin">

                <div class="container filter-container">

                    <form id="filtreUserTask" method="post">                   
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3">
                                <input type="text" id="daterange" class="form-control min-width-300" value="01/01/2018 - 01/15/2018" />
                                <input type="hidden"  id="startDate" value="" />
                                <input type="hidden"  id="endDate" value="" />
                            </div>
                            <div class="col-12 col-md-3">
                                <select placeholder="Select user" multiple data-actions-box="true" class="selectpicker w-100" id="userId">
                                   
                                </select>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="d-flex">
                                    
                                    <button type="button" id="excelButton" class="btn btn-success form-control  w-100">
                                        <i class="fas fa-download"></i> Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <table id="table_usertask" class="table table-bordered dt-responsive nowrap w-100">
                
                </table>
                     
                @await Html.PartialAsync("_modalDelete");
                <div id="editUserTaskContainer"></div>


            </div>

        
        </div>
    </div>
</div> <!-- end row -->