@{
    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "Login";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="~/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.dist.css">
    <!-- Form Validation -->
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}


@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <!-- Flat Picker -->
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
    <!-- Form Validation -->
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageScripts {
    <script src="~/js/UserTask.js"></script>
}


<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->


    


    <!-- Bordered Table -->
    <div class="card">
        <h5 class="card-header">Bordered Table</h5>
        <div class="card-body">
            <div class="card-datatable table-responsive">
                <table id="table_usertask" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Categories</th>
                            <th class="text-nowrap text-sm-end">Total Products &nbsp;</th>
                            <th class="text-nowrap text-sm-end">Total Earning</th>
                            <th class="text-lg-center">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--/ Bordered Table -->

   
  
    <!--/ Multilingual -->
    <!--/ Layout Demo -->
</div>
