@model Domain.DTO.ProjectDto

<form id="editProjectForm">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.name" required />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@Model.description" required />
    </div>
    <input type="hidden" id="ProjectId" name="ProjectId" value="@Model.projectId" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    $(document).ready(function () {
        $('#editProjectForm').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Edit", "Project")',
                type: 'POST',
                data: $(this).serialize(),
                success: function () {
                    $('#editProjectModal').modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });
    });
</script>

