@model IEnumerable<Domain.DTO.LeaveDto>

@{
    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "Leaves";
    ViewData["titrePage"] = "Leaves";
}

@section VendorStyles {
    <link href="~/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/daterangepicker/daterangepicker.min.css" rel="stylesheet" />
    <link href="~/assets/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}



@section VendorScripts {
    <script src="~/assets/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/assets/libs/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/moment/moment.js"></script>
}

@section PageScripts {
        <script src="~/assets/js/leaves.js"></script>
}

<style>
    .border-custom {
        border: 1px solid #6c757d; /* Couleur de bordure grise (Bootstrap) */
    }
    /* Classe pour ajuster les boutons d'actions */
    .action-button {
        border: none; /* Supprimer la bordure */
        background-color: transparent; /* Fond transparent */
        cursor: pointer; /* Curseur de souris */
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card-box">
           
            <div class="responsive-table-plugin">
                <table id="table_leave" class="table table-bordered dt-responsive nowrap w-100">
                    
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createLeaveModal" tabindex="-1" role="dialog" aria-labelledby="createLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLeaveModalLabel">Create Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("Create", new Domain.DTO.LeaveDto())
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editLeaveModal" tabindex="-1" role="dialog" aria-labelledby="editLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLeaveModalLabel">Edit Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("Edit", new Domain.DTO.LeaveDto())
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteLeaveModal" tabindex="-1" role="dialog" aria-labelledby="deleteLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLeaveModalLabel">Delete Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("Delete", new Domain.DTO.LeaveDto())
            </div>
        </div>
    </div>
</div>
