<div class="left-side-menu">

    <div class="slimscroll-menu">

       
        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="#">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Home </span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="UserTask">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Timeline </span>
                    </a>
                </li><li>
                    <a href="#">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Project </span>
                    </a>
                </li><li>
                    <a href="#">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Task </span>
                    </a>
                </li><li>
                    <a href="#">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Leave </span>
                    </a>
                </li><li>
                    <a href="#">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> User </span>
                    </a>
                </li>

                
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

@* @if (User.IsInRole("Admin"))
{
    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a></li>
}
@if (User.IsInRole("User"))
{
    <li><a asp-area="" asp-controller="User" asp-action="Index">User Panel</a></li>
} *@