@using TaskManagement.Models.AccountVM
@model RegisterViewModel

@{
    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "User";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    @* <script src="~/js/tables-datatables-basic.dist.js"></script> *@
    <script src="~/userJs/user.js"></script>
}


<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    @* ************** Content ************** *@
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">User Management</span> 
    </h4>

    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <h5 class="card-header">Create User</h5>
                    <div class="card-body">
                        <form asp-action="Register" method="post">

                            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />

                            <div class="row">

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                    <label class="form-label" for="name">Name</label>
                                    <input asp-for="Name" name="name" id="name" class="form-control credit-card-mask" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                    <label class="form-label">Surname</label>
                                    <input asp-for="Surname" class="form-control credit-card-mask" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                    <label class="form-label" >Email</label>
                                    <input asp-for="Email" class="form-control credit-card-mask" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="mb-3" hidden>
                                    <label class="form-label" for="add-user-Username">Username</label>
                                    <input asp-for="Username" value="tata" type="text" id="add-user-Username" class="form-control" placeholder="Enter Your Username..." name="username" />
                                </div>

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4 form-password-toggle">
                                    <label class="form-label">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="Password" class="form-control credit-card-mask" aria-describedby="multicol-password2" />
                                        <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i class="ti ti-eye-off"></i></span>                                  
                                    </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4 form-password-toggle">
                                    <label class="form-label">Confirm Password</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="ConfirmPassword" class="form-control" aria-describedby="confirm-password2" />
                                        <span class="input-group-text cursor-pointer" id="confirm-password2"><i class="ti ti-eye-off"></i></span>                                    
                                    </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>   

                                <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                    <label class="form-label">Role</label>
                                    <select asp-for="Role" class="form-control credit-card-mask" />
                                        <option>User</option>
                                        <option>Admin</option>
                                    </select>
                                </div>
                                <div class="pt-4">
                                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                                    <button type="reset" class="btn btn-label-secondary">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr class="my-3">

    <!-- Users Tables Liste -->
    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>UserID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->        
    </div>
    <!--/ Users Table Liste -->
</div>
@* 
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
} *@
