@using TaskManagement.Models.AccountVM
@model RegisterViewModel

@{
    Layout = "Layout/_LayoutWithMenu";
    ViewData["Title"] = "User";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    @* <script src="~/js/tables-datatables-basic.dist.js"></script> *@
    <script src="~/userJs/app-user-list.dist.js"></script>
}


<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    @* ************** Content ************** *@
    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">User Management</span> 
    </h4>


    <hr class="my-5">

    <!-- Users Tables Liste -->
    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>UserID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->
        <div class="card">
            <div class="offcanvas-header">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add User</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
                <form asp-action="Register" method="post" class="add-new-user pt-0">
                    <div class="mb-3">
                        <label class="form-label" for="add-user-fullname">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="add-user-fullname" placeholder="John Doe" name="name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="add-user-Surname">Surname</label>
                        <input asp-for="Surname" type="text" id="add-user-Surname" class="form-control" placeholder="Enter Your Surname..." name="surname" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="add-user-email">Email</label>
                        <input asp-for="Email" type="text" id="add-user-email" class="form-control" placeholder="john.doe&#64;example.com" name="email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="add-user-Username">Username</label>
                        <input asp-for="Username" type="text" id="add-user-Username" class="form-control" placeholder="Enter Your Username..." name="username" />
                    </div>
                    <div class="mb-3">
                        <div class="form-password-toggle">
                            <label class="form-label" for="formValidationPass">Password</label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" name="password" class="form-control" type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multicol-password2" />
                                <span class="input-group-text cursor-pointer" id="multicol-password2"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-password-toggle">
                            <label class="form-label" for="formValidationPass">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input asp-for="ConfirmPassword" name="confirmPassword" class="form-control" type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="multicol-confirm-password2" />
                                <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i class="ti ti-eye-off"></i></span>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Role" class="form-label" for="user-role">Role</label>
                        <select asp-for="Role" id="user-role" class="form-select">
                            <option>User</option>
                            <option>Admin</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Save</button>
                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <!--/ Users Table Liste -->
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
