@model TasksVM

<form id="createTaskForm">
    <div class="form-group">
        <label for="ProjectId">Project</label>
        <select class="form-control" id="ProjectId" name="ProjectId" required>
            @foreach (var project in Model.ProjectList)
            {
                <option value="@project.projectId">@project.name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
    <div class="form-group">
        <label for="TimeTotal">Total Times</label>
        <input type="text" class="form-control" id="TimeTotal" name="TimeTotal" required />
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
