@model Domain.DTO.TasksDto

<p>Are you sure you want to delete this task?</p>
<p>
    <strong>Title:</strong> @Model.name<br />
    <strong>Project:</strong> @Model.project.name
</p>
<button id="deleteTaskConfirmButton" class="btn btn-danger">Delete</button>

