@model TasksVM

<p>Are you sure you want to delete this task?</p>
<p>
    <strong>Title:</strong>
    <strong>Project:</strong> 
</p>
<button id="deleteTaskConfirmButton" class="btn btn-danger">OK</button>
<button id="deleteTaskConfirmButton" class="btn btn-danger">Delete</button>

