
*{
    font-size : 12px !important;
}

.navbar-custom {
    background-color: white !important;
    padding: 0 calc(24px / 2) 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    color: #343a40;
    background-color: #ffffff;
    border-color: #d3d9df;
}

.bootstrap-select > .dropdown-toggle {
    border: 1px solid #dbe1e6 !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: 0px !important;
    outline-offset: 0px !important;
}
.bootstrap-select .dropdown-menu {
    min-width: 100%;
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*left: 5px !important;*/
    padding-right: 0px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #999;

    color: #6c757d;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .2rem !important;
}


.vscomp-toggle-button {
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    padding: 7px 30px 7px 10px;
    position: relative;
    width: 100%;
    border-radius: .2em;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    height: 32px;
}
.vscomp-wrapper {
    color: #333;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    text-align: left;
    width: 100%;

}

#selectTaskId , #selectProjectId {
    top: 0px;
}

.vscomp-wrapper.focused .vscomp-toggle-button, .vscomp-wrapper:focus .vscomp-toggle-button {
    box-shadow: none !important;
}
.vscomp-dropbox-container pop-comp-wrapper position-bottom {
    display: none;
    position: absolute;
    top: 6px;
    left: 0;
    opacity: 0;
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    text-align: left;
    flex-wrap: wrap;
    z-index: 1;
}
.vscomp-dropbox {
    background-color: #fff;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #282828;
}

.page-title-main {
    margin: 0;
    line-height: 70px;
    padding: 0 20px;
    font-size: 15px !important;
}

.footer {
    bottom: 0;
    padding-left: 10px !important;
    position: absolute;
    right: 0;
    color: #6c757d;
    left: 240px;
    background-color: #e3e9ed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding-right: 15px !important;
}

.vscomp-ele {
    display: inline-block;
    max-width: unset !important;
    width: 100%;
    position: relative;
    top: 4px;
    margin-bottom: 10px;

}
.leave-row {
    background-color: #ff5b5b29; /* Couleur de fond rouge pour marquer les lignes */
}

.form-select {
    /* display: flex !important; */
    width: 100%;
    height: calc(1.5em + .9rem + 2px);
    /* padding: .45rem .9rem; */
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da00 ;
    border-radius: .2rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    justify-content: center;
    align-content: space-between;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    display: inline;
}
.card-header.d-flex.flex-wrap.pb-2 {
    display: flex !important;
    justify-content: space-between;
    padding-left: 0;
    background: none;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-spacing: 0;
    color: #606060 !important;
}



    .filter-container .form-control,
    .filter-container .btn {
        margin: 5px;
    }

@media (max-width: 768px) {
    .filter-container .form-control,
    .filter-container .btn {
        width: 100%;
        margin-left: 0;
    }
}

button.cancelBtn.btn.btn-sm.btn-default {
    background-color: #dbdbdb;
    color: #4a4a4a;
}