<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link nav-user mr-0 waves-effect" href="#" role="button">
                <span class="pro-user-name ml-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @User.Identity.Name
                    }
                </span>
            </a>
        </li>
        <li class="dropdown notification-list">
            <!-- item-->
            <a asp-controller="User" asp-action="Logout" class="nav-link">
                <i class="fe-log-out"></i>
                <span>Logout</span>
            </a>

        </li>

    </ul>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <h3 class="page-title-main">@ViewData["titrePage"]</h3>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="#" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>
        <a href="#" class="logo logo-light text-center">
            <span class="logo-lg">
                <h1 class="text-light">GesPro</h1>
                @* <img src="~/assets/images/logo-light.png" alt="" height="16"> *@
                
            </span>
            <span class="logo-sm">
                <h4 class="text-light">GP</h4>
                @* <img src="~/assets/images/logo-sm.png" alt="" height="24"> *@
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

</div>