<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <span class="pro-user-name ml-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @User.Identity.Name
                    }
                    <i class="mdi mdi-chevron-down"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                <div class="dropdown-divider"></div>

                <!-- item-->
                <a asp-controller="User" asp-action="Logout" class="dropdown-item notify-item">
                    <i class="fe-log-out"></i>
                    <span>Logout</span>
                </a>

            </div>
        </li>

    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="#" class="logo logo-dark text-center">
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>
        <a href="#" class="logo logo-light text-center">
            <span class="logo-lg">
                <h1 class="text-light">GesPro</h1>
                @* <img src="~/assets/images/logo-light.png" alt="" height="16"> *@
                
            </span>
            <span class="logo-sm">
                <h4 class="text-light">GP</h4>
                @* <img src="~/assets/images/logo-sm.png" alt="" height="24"> *@
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

</div>