@model RegisterViewModel

<div class="modal fade bs-example-modal-xl" id="modalAdduser" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Register" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">

                                <div class="row">

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input asp-for="Name" name="name" id="name" class="form-control credit-card-mask" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                        <label class="form-label">Surname</label>
                                        <input asp-for="Surname" class="form-control credit-card-mask" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                        <label class="form-label">Email</label>
                                        <input asp-for="Email" class="form-control credit-card-mask" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3" hidden>
                                        <label class="form-label" for="add-user-Username">Username</label>
                                        <input asp-for="Username" value="tata" type="text" id="add-user-Username" class="form-control" placeholder="Enter Your Username..." name="username" />
                                    </div>

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4 form-password-toggle">
                                        <label class="form-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input asp-for="Password" class="form-control credit-card-mask" aria-describedby="multicol-password2" />
                                            <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i class="ti ti-eye-off"></i></span>
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4 form-password-toggle">
                                        <label class="form-label">Confirm Password</label>
                                        <div class="input-group input-group-merge">
                                            <input asp-for="ConfirmPassword" class="form-control" aria-describedby="confirm-password2" />
                                            <span class="input-group-text cursor-pointer" id="confirm-password2"><i class="ti ti-eye-off"></i></span>
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                                        <label class="form-label">Role</label>
                                        <select asp-for="Role" class="form-control credit-card-mask" />
                                        <option>User</option>
                                        <option>Admin</option>
                                        </select>
                                    </div>
                                    <d@* iv class="pt-4">
                                         <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                                         <button type="reset" class="btn btn-label-secondary">Cancel</button>
                                         </div> *@
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>