@using TaskManagement.Models.AccountVM
@model LoginViewModel


@{

    Layout = "Layout/_LayoutWithoutMenu";
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
}


@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}


@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.dist.js"></script>
}
@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-4 mt-2">
                        <a href="/" class="app-brand-link gap-2">
                            @*<span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-body fw-bold ms-1">@TempData.Peek("appName")</span>*@
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1 pt-2">Welcome to @TempData.Peek("appName")! 👋</h4>
                    <p class="mb-4">Please sign-in to your account</p>

                    <form method="post" action="@Url.Action("Login", "Account")" id=" formAuthentication" class="mb-3">
                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                        <div class="mb-3">
                            <label asp-for="Username" for="email" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Enter username" autofocus>
                            <span asp-validation-for="Username" style="color:red"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label asp-for="Password" class="form-label" for="password">Password</label>
                                @* <a href="/Auth/ForgotPassword/Basic">
                                    <small>Forgot Password?</small>
                                </a> *@
                            </div>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                            <span asp-validation-for="Password" style="color:red"></span>

                        </div>
                        <div class="mb-3">
                            @* <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div> *@
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary d-grid w-100">Sign in</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
